html {
    overflow: hidden;
    height: 100%;
    background: transparent;
}

body {
    height: 100%;
    background: transparent;
}

body > .media {
    width: 100%;
    height: 100%;
    position: absolute;
}
