.collage-item {
    width: 100px;
    height: 100px;
    background-color: blue;
    opacity: .4;
}

.collage-widget-tab {
    position: relative;
    width: 95%;
}

.collage-widget-tab-inner {
    position: relative;
    min-height: 70vh;
    border: 1px solid black;
}