.collage-item {
    box-sizing: border-box;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    position: absolute !important;
    color: black;
    overflow: hidden;
}

.collage-item::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.collage-item iframe {
    overflow: hidden;
}

.collage-widget-tab {
    position: relative;
    width: 95%;
}

.collage-widget-tab-inner {
    position: relative;
    border: 1px dashed #A6A6A6;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #f7fcff;
}

.collage-widget-popup.ui-dialog .ui-widget-content.ui-dialog-content {
    padding: 0;
    background-color: white;
    height: 90vh !important;
}