.collage-item {
    box-sizing: border-box;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    position: absolute !important;
    color: black;
    overflow: hidden;
}

.collage-item::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.collage-item iframe {
    overflow: hidden;
}

.collage-widget-tab {
    position: relative;
    width: 95%;
}

.collage-widget-tab-inner {
    position: relative;
    min-height: 70vh;
    border: 1px solid black;
}